{{#each this}}
<li>
<div class="photo-card">
    <div class='photo-card__thumb'>
    <img src="{{webformatURL}}" alt="{{tags}}" />
</div>
    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            {{downloads}}
        </p>
    </div>
</div>
</li>
{{/each}}


{{!-- {{#each this}}
<li>
    <a href="{{url}}" target="_blank" rel="noopener noreferrer">
        <article>
            <img src="{{urlToImage}}" alt="" width="480">
            <h2>{{title}}</h2>
            <p>Posted by: {{author}}</p>
            <p>{{description}}</p>
        </article>
    </a>
</li>
{{/each}} --}}